body{
      background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: fix;
     inset: 0;
}

#container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
}

#card{
      width: calc(100% - 66%);
      height: 550px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.3));
      justify-content: center;
      margin-top: 30px;
      margin-left: 35%;
      align-items: center;
}

#title{
      margin-top: 50px;
      margin-left: 70px;
      font-family: 'Trebuchet MS';
      font-size: 30px;
      font-weight: bold;
      color: white;
}

#email{
      margin-top: 20px;
      margin-left: 70px;
      width: 300px;
      height: 30px;
      padding: 10px 0;
      border-radius: 5px;
      border: none;
      outline: none;
      padding-left: 20px;
      font-size: 17px;
      background: rgba(40, 40, 40, 0.956);
      color: white;
}

#password{
      margin-top: 15px;
      margin-left: 70px;
      width: 300px;
      height: 30px;
      padding: 10px 0;
      border-radius: 5px;
      border: none;
      outline: none;
      padding-left: 20px;
      font-size: 17px;
      background: rgba(40, 40, 40, 0.956);
      color: white;
}


#btn{
      margin-top: 40px;
      margin-left: 70px;
      width: 320px;
      height: 45px;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      outline: none;
      /* padding-left: 20px; */
      font-size: 17px;
      font-weight: bold;
      background: rgba(255, 5, 5, 0.639);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

#btn:hover{
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), red;
    transition: 0.9s ease-in-out;
}

#check{
      margin-left: 70px;
      margin-top: 10px;
}

span{
      color: gray;
      font-size: 18px;
}

#link{
      text-decoration: none;
      color: gray;
}


#content{
      color: gray;
      margin-top: 70px;
      margin-left: 70px;
      font-size: 18px;
}

#link1{
      text-decoration: none;
      color: white;
}

#link1:hover{
      color: blue;
}

#body{
      color: gray;
      margin-top: 20px;
      margin-left: 70px;
      font-size: 18px;
}

#link2{
      text-decoration: none;
      font-weight: bold;
}